<div class="col-md-4 col-xs-12 sidebar-offcanvas" id="sidebarLeft" role="navigation">

  <div class="well">
    <h2 >Your Schedule</h2>
    <!--<app-basic-skills (outputSched)="onSubmit()">  </app-basic-skills>-->
    {{outputSched}}
    <ul *ngFor="let sched of schedule" class="nav">
      <li>{{sched}}</li>

      <!--<li class="active"><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li> 
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>-->
    </ul>
  </div>
</div>
