<h2 class="page-header">Your Schedules</h2>
<p>All the schedules you make will appear here!</p>

<div class="well col-md-12 text-center" *ngFor="let plans of userSched ; let i = index">
  <h2 class="class-title">
    {{plans.title}}
  </h2>
  <br>
  <div *ngFor="let inner of plans.schedule ; let j = index">
      <a href="{{inner.url}}" target="_blank">
        {{inner.theClass}} ({{inner.units}})
      </a>
    <div *ngIf="j==plans.schedule.length-1">
      <button type="button" class="btn btn-danger btn-sm but" (click)="deleteSched(i)">Remove</button>
      <button type="button" class="btn btn-info btn-sm but" (click)="editSched(i)">Edit</button>
      <br>
    </div>
  </div>

</div>
