
  <div class="col-md-8 col-xs-12 pull-right">

    <div class="panel-group" id="accordion1">

      <div class="panel panel-default accordion-group">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
        Basic Skills Requirement
      </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="panel-body">

            <!-- Here we insert another nested accordion -->

            <div class="accordion" id="accordion2">
              <div class="panel panel-default accordion-group">
                <div class="panel-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerOne">
                   ANALYTICAL READING AND EXPOSITORY WRITING
                  </a>
                </div>
                <div id="collapseInnerOne" class="accordion-body collapse in">
                  <div class="panel-body">
                    <ul class="list-group">
                      
                        <div *ngFor="let skill of basicSkills">
                          <li class="list-group-item"><a href="#test">{{skill.className}} ({{skill.units}})</a>
                            <button type="submit" class="btn btn-success btn-sm but" (click)="addClass(skill.className, skill.units)">Add Class</button>
                        </div>

                          <!--<div (outputSched)= "onSubmit()">
                            
                          </div>-->
                        <div *ngFor="let basic of testSchedule">
                            <li class="list-group-item"><a href="#test">{{basic}}</a>
                        </div>

                        <!--<a href="#button"><button type="button" class="btn btn-danger btn-sm">Default</button></a>-->
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default accordion-group">
                <div class="panel-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwo">
                   ORAL COMMUNICATION 
                  </a>
                </div>
                <div id="collapseInnerTwo" class="accordion-body collapse">
                  <div class="panel-body">
                    <ul class="list-group">
                      <!--<li class="list-group-item">One</li>
                      <li class="list-group-item">Two</li>
                      <li class="list-group-item">Three</li>-->
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Inner accordion ends here -->

          </div>
        </div>
      </div>
    </div>
  </div>

