<div class="jumbotron text-center">
  <h1>CSUN Regristration Planner</h1>
  <p class="lead">Organize and plan your schedule</p>
  <div *ngIf="!auth.loggedIn()">
    <a class="btn btn-info" [routerLink]="['/register']">Register</a> <a class="btn btn-warning" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Responsive</h3>
    <p>You can use this on any device!</p>
  </div>
  <div class="col-md-4">
    <h3>Simple & Easy to Use</h3>
    <p>Just register and get started in making your schedules!</p>
  </div>
  <div class="col-md-4">
    <h3>Powered By</h3>
    <ul>
      <li>MongoDB</li>
      <li>Expess.js</li>
      <li>Angular 4</li>
      <li>Node.js</li>
    </ul>
  </div>
</div>