<div class="jumbotron text-center">
  <h1>CSUN Regristration Planner</h1>
  <p class="lead">Organize and plan your schedule</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Better than the CSUN dpr</h3>
    <p>Save your schedule and view the classes you need to take without having to navigate through multiple pages</p>
  </div>
  <div class="col-md-4">
    <h3>Speed</h3>
    <p>This app is fast...</p>
  </div>
  <div class="col-md-4">
    <h3>Security</h3>
    <p>User credentials are stored using bcrypt, so your information is kept secure!</p>
  </div>
</div>