<div class="col-md-8 col-xs-12 pull-right">

  <div class="panel-group" id="csAccord">

    <div class="panel panel-default accordion-group">
      <div class="panel-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#csAccord" href="#collapse7">
        Computer Science Classes
      </a>
      </div>
      <div id="collapse7" class="accordion-body collapse">
        <div class="panel-body">

              <div id="cocuCollapse" class="accordion-body collapse in">
                <div class="panel-body">
                  <ul class="list-group">

                    <div *ngFor="let skill of csClasses">
                      <li class="list-group-item"><a href="{{skill.url}}" target="_blank">{{skill.className}} ({{skill.units}})</a>
                        <button type="button" class="btn btn-success btn-sm but" (click)="addClass(skill.className, skill.units, skill.url)">Add Class</button>
                      </li>
                    </div>
                  </ul>
                </div>
              </div>

          <!-- Inner accordion ends here -->

        </div>
      </div>
    </div>
  </div>
</div>
