.list-group .but{
    position:absolute;
    right: 0;
    bottom: 4px;
}

.list-group a{
    text-decoration: none;
}
.list-group a:hover{
    color:red;
}

a:hover, a:focus {
    color: white;
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

@media(max-width:450px){

    .list-group .but{
    position: absolute;
    right: 0;
    bottom: 0px;
}

.btn-sm, .btn-group-sm>.btn {
    padding: 1.7em .01em;
    font-size: .4em;
    line-height: 1.5;
    border-radius: 3px;
}

}